Reading data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Exploring Data

In [2]:
df = pd.read_csv("C:\\Users\\LENOVO\\pandas\\sales\\orders.csv",skiprows= 4)

# df.info()
df.head(20)
# df.tail()

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
0,1.0,1/1/2023,Syria,homs,hs01,34.7326,36.7136,lina,alrrashid,LINA.ALRRASHID@MAIL.COM,Tel: 5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,39.96,False
1,2.0,1/1/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,omar,eurul,OMAR.EURUL@MAIL.COM,Tel: 5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True
2,3.0,1/1/2023,Saudi Arabia,riyadh,rd03,24.7743,46.7386,iman,iismaeil,IMAN.IISMAEIL@MAIL.COM,Tel: 5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,1/1/2023,United Arab Emirates,abu dhabi,ad01,24.4539,54.3773,ahmad,rihan,AHMAD.RIHAN@MAIL.COM,Tel: 5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True
5,5.0,1/1/2023,USA,washington,wh01,38.9072,-77.0369,sami,altawil,Sami.altawil@mail.com,Tel: 5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,3.87,True
6,6.0,1/1/2023,Syria,aleppo,al01,36.2021,37.1343,ahed,salim,Ahed.salim@mail.com,Tel: 5277356213,Smartwatch,Garmin Fenix,Garmin Fenix 6S,J431,1.0,499.0,4.99,True
7,7.0,1/1/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,amira,alrahil,AMIRA.ALRAHIL@MAIL.COM,Tel: 5653467109,Digital Camera,Panasonic Lumix,Panasonic Lumix S1H,S190,1.0,3499.0,209.94,True
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,8.0,1/1/2023,Egypt,cairo,cr02,30.0444,31.2357,muhamad,bitahish,MUHAMAD.BITAHISH@MAIL.COM,Tel: 5705221103,Headphones,Anker Soundcore,Anker Soundcore Liberty Air 2 Pro,R389,1.0,99.0,0.99,False
10,9.0,1/1/2023,Saudi Arabia,aseer,as01,18.2311,42.5004,fadi,aljabaan,Fadi.aljabaan@mail.com,Tel: 5271157029,Laptop,HP Envy,Envy x360,I974,1.0,899.0,NaN,True
11,10.0,1/1/2023,USA,washington,wh01,38.9072,-77.0369,zahir,almunajid,Zahir.almunajid@mail.com,Tel: 5151565826,Smart Speaker,Apple HomePod,Apple HomePod mini,R236,9.0,99.0,71.28,True
12,11.0,1/1/2023,Egypt,cairo,cr03,30.0444,31.2357,eala,aljabaan,Eala.aljabaan@mail.com,Tel: 5725081300,Laptop,Lenovo Legion,Lenovo Legion 5,B541,3.0,1099.0,NaN,True
13,12.0,1/1/2023,Egypt,cairo,cr01,30.0444,31.2357,abd allatif,alghandur,ABD ALLATIF.ALGHANDUR@MAIL.COM,Tel: 5647534056,Tablet,Samsung Galaxy Tab,Galaxy Tab S7,U983,1.0,649.0,64.90,True
14,13.0,1/1/2023,USA,las vegas,lv01,36.1699,-115.1398,muhamad,eurman,MUHAMAD.EURMAN@MAIL.COM,Tel: 5011035056,Smartwatch,Fossil Gen,Fossil Gen 5E,N710,1.0,199.0,19.90,True
15,14.0,1/1/2023,Morocco,casablanca,cs01,33.5731,7.5898,shahad,eyd bndqjy,SHAHAD.EYD BNDQJY@MAIL.COM,Tel: 5066425618,Smartwatch,Garmin Fenix,Garmin Fenix 7,G033,1.0,699.0,62.91,True
16,15.0,1/1/2023,Egypt,asyut,at01,27.1809,31.1837,sahar,kharasah,Sahar.kharasah@mail.com,Tel: 5074545757,Tablet,Amazon Fire,Amazon Fire 7,G449,1.0,49.0,3.43,True
17,16.0,1/1/2023,United Arab Emirates,abu dhabi,ad01,24.4539,54.3773,muhamad,zawal,Muhamad.zawal@mail.com,Tel: 5080748666,Tablet,Samsung Galaxy Tab,Galaxy Tab A7,T351,1.0,179.0,14.32,True
18,17.0,1/1/2023,France,paris,ps01,48.8566,2.3522,muhamad,zaetar,MUHAMAD.ZAETAR@MAIL.COM,Tel: 5891898352,Headphones,Sennheiser HD,Sennheiser HD 660S,S691,13.0,499.0,389.22,True
19,18.0,1/1/2023,Saudi Arabia,jeddah,jd01,21.5433,39.1728,muhamad,byd,muhamad.byd@mail.com,Tel: 5326430239,Tablet,Lenovo Tab,Lenovo Tab M10 FHD Plus,D241,1.0,229.0,16.03,True

Drop Null Values

df.dropna(how = "all")

In [3]:
df.dropna(how= "all",inplace=True)
df

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
0,1.0,1/1/2023,Syria,homs,hs01,34.7326,36.7136,lina,alrrashid,LINA.ALRRASHID@MAIL.COM,Tel: 5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,39.96,False
1,2.0,1/1/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,omar,eurul,OMAR.EURUL@MAIL.COM,Tel: 5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True
2,3.0,1/1/2023,Saudi Arabia,riyadh,rd03,24.7743,46.7386,iman,iismaeil,IMAN.IISMAEIL@MAIL.COM,Tel: 5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True
4,4.0,1/1/2023,United Arab Emirates,abu dhabi,ad01,24.4539,54.3773,ahmad,rihan,AHMAD.RIHAN@MAIL.COM,Tel: 5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True
5,5.0,1/1/2023,USA,washington,wh01,38.9072,-77.0369,sami,altawil,Sami.altawil@mail.com,Tel: 5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,3.87,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,casablanca,cs01,33.5731,7.5898,ahmad,iad,AHMAD.IAD@MAIL.COM,Tel: 5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,11.97,True
20000,19997.0,1/9/2023,Syria,homs,hs01,34.7326,36.7136,ali,kiali,Ali.kiali@mail.com,Tel: 5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.80,True
20001,19998.0,1/9/2023,USA,las vegas,lv01,36.1699,-115.1398,husayn,salayk,husayn.salayk@mail.com,Tel: 5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,2.97,True
20002,19999.0,1/9/2023,Saudi Arabia,jeddah,jd03,21.4858,39.1925,fatin,bahriin,Fatin.bahriin@mail.com,Tel: 5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,3.96,True
20003,20000.0,1/9/2023,USA,washington,wh01,38.9072,-77.0369,ahmad,shakur,Ahmad.shakur@mail.com,Tel: 5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,4.98,True

Modify Email Column to be lower case

In [4]:
df["Email"] = df["Email"].str.lower()
df.dropna()
df = df

Modify PhoneNumber to Replace "Tel:" with ""

In [5]:
df["Phone Number"] = df["Phone Number"].str.replace("Tel:","")
df

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
0,1.0,1/1/2023,Syria,homs,hs01,34.7326,36.7136,lina,alrrashid,lina.alrrashid@mail.com,5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,39.96,False
1,2.0,1/1/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,omar,eurul,omar.eurul@mail.com,5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True
2,3.0,1/1/2023,Saudi Arabia,riyadh,rd03,24.7743,46.7386,iman,iismaeil,iman.iismaeil@mail.com,5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True
4,4.0,1/1/2023,United Arab Emirates,abu dhabi,ad01,24.4539,54.3773,ahmad,rihan,ahmad.rihan@mail.com,5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True
5,5.0,1/1/2023,USA,washington,wh01,38.9072,-77.0369,sami,altawil,sami.altawil@mail.com,5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,3.87,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,casablanca,cs01,33.5731,7.5898,ahmad,iad,ahmad.iad@mail.com,5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,11.97,True
20000,19997.0,1/9/2023,Syria,homs,hs01,34.7326,36.7136,ali,kiali,ali.kiali@mail.com,5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.80,True
20001,19998.0,1/9/2023,USA,las vegas,lv01,36.1699,-115.1398,husayn,salayk,husayn.salayk@mail.com,5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,2.97,True
20002,19999.0,1/9/2023,Saudi Arabia,jeddah,jd03,21.4858,39.1925,fatin,bahriin,fatin.bahriin@mail.com,5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,3.96,True
20003,20000.0,1/9/2023,USA,washington,wh01,38.9072,-77.0369,ahmad,shakur,ahmad.shakur@mail.com,5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,4.98,True

Add FullName as New Column

In [6]:


df["Customer FullName"] = df["Customer First Name"].str.title() + " " + df["Customer Last Name"].str.title()
df.dropna(how = "any")
df.dropna(how = "all",inplace=True)
fullName = df.columns[-1]
column_to_move = df.pop(fullName)
df.insert(9,fullName,column_to_move)

df.head(20)

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Customer FullName,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
0,1.0,1/1/2023,Syria,homs,hs01,34.7326,36.7136,lina,alrrashid,Lina Alrrashid,lina.alrrashid@mail.com,5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,39.96,False
1,2.0,1/1/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,omar,eurul,Omar Eurul,omar.eurul@mail.com,5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True
2,3.0,1/1/2023,Saudi Arabia,riyadh,rd03,24.7743,46.7386,iman,iismaeil,Iman Iismaeil,iman.iismaeil@mail.com,5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True
4,4.0,1/1/2023,United Arab Emirates,abu dhabi,ad01,24.4539,54.3773,ahmad,rihan,Ahmad Rihan,ahmad.rihan@mail.com,5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True
5,5.0,1/1/2023,USA,washington,wh01,38.9072,-77.0369,sami,altawil,Sami Altawil,sami.altawil@mail.com,5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,3.87,True
6,6.0,1/1/2023,Syria,aleppo,al01,36.2021,37.1343,ahed,salim,Ahed Salim,ahed.salim@mail.com,5277356213,Smartwatch,Garmin Fenix,Garmin Fenix 6S,J431,1.0,499.0,4.99,True
7,7.0,1/1/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,amira,alrahil,Amira Alrahil,amira.alrahil@mail.com,5653467109,Digital Camera,Panasonic Lumix,Panasonic Lumix S1H,S190,1.0,3499.0,209.94,True
9,8.0,1/1/2023,Egypt,cairo,cr02,30.0444,31.2357,muhamad,bitahish,Muhamad Bitahish,muhamad.bitahish@mail.com,5705221103,Headphones,Anker Soundcore,Anker Soundcore Liberty Air 2 Pro,R389,1.0,99.0,0.99,False
10,9.0,1/1/2023,Saudi Arabia,aseer,as01,18.2311,42.5004,fadi,aljabaan,Fadi Aljabaan,fadi.aljabaan@mail.com,5271157029,Laptop,HP Envy,Envy x360,I974,1.0,899.0,NaN,True
11,10.0,1/1/2023,USA,washington,wh01,38.9072,-77.0369,zahir,almunajid,Zahir Almunajid,zahir.almunajid@mail.com,5151565826,Smart Speaker,Apple HomePod,Apple HomePod mini,R236,9.0,99.0,71.28,True
12,11.0,1/1/2023,Egypt,cairo,cr03,30.0444,31.2357,eala,aljabaan,Eala Aljabaan,eala.aljabaan@mail.com,5725081300,Laptop,Lenovo Legion,Lenovo Legion 5,B541,3.0,1099.0,NaN,True
13,12.0,1/1/2023,Egypt,cairo,cr01,30.0444,31.2357,abd allatif,alghandur,Abd Allatif Alghandur,abd allatif.alghandur@mail.com,5647534056,Tablet,Samsung Galaxy Tab,Galaxy Tab S7,U983,1.0,649.0,64.90,True
14,13.0,1/1/2023,USA,las vegas,lv01,36.1699,-115.1398,muhamad,eurman,Muhamad Eurman,muhamad.eurman@mail.com,5011035056,Smartwatch,Fossil Gen,Fossil Gen 5E,N710,1.0,199.0,19.90,True
15,14.0,1/1/2023,Morocco,casablanca,cs01,33.5731,7.5898,shahad,eyd bndqjy,Shahad Eyd Bndqjy,shahad.eyd bndqjy@mail.com,5066425618,Smartwatch,Garmin Fenix,Garmin Fenix 7,G033,1.0,699.0,62.91,True
16,15.0,1/1/2023,Egypt,asyut,at01,27.1809,31.1837,sahar,kharasah,Sahar Kharasah,sahar.kharasah@mail.com,5074545757,Tablet,Amazon Fire,Amazon Fire 7,G449,1.0,49.0,3.43,True
17,16.0,1/1/2023,United Arab Emirates,abu dhabi,ad01,24.4539,54.3773,muhamad,zawal,Muhamad Zawal,muhamad.zawal@mail.com,5080748666,Tablet,Samsung Galaxy Tab,Galaxy Tab A7,T351,1.0,179.0,14.32,True
18,17.0,1/1/2023,France,paris,ps01,48.8566,2.3522,muhamad,zaetar,Muhamad Zaetar,muhamad.zaetar@mail.com,5891898352,Headphones,Sennheiser HD,Sennheiser HD 660S,S691,13.0,499.0,389.22,True
19,18.0,1/1/2023,Saudi Arabia,jeddah,jd01,21.5433,39.1728,muhamad,byd,Muhamad Byd,muhamad.byd@mail.com,5326430239,Tablet,Lenovo Tab,Lenovo Tab M10 FHD Plus,D241,1.0,229.0,16.03,True
20,19.0,1/1/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,fadi,ahmad,Fadi Ahmad,fadi.ahmad@mail.com,5923514383,VR Headset,Oculus Rift,Oculus Rift S,O247,1.0,399.0,7.98,False
21,20.0,1/1/2023,Saudi Arabia,riyadh,rd02,24.7743,46.7386,khalid,dbs,Khalid Dbs,khalid.dbs@mail.com,5649954933,Headphones,Anker Soundcore,Anker Soundcore Life Q35,R252,3.0,129.0,7.74,False

Clean phone number coulmn

In [7]:
df["Phone Number"] = df["Phone Number"].str.replace("Tel","")
df

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Customer FullName,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
0,1.0,1/1/2023,Syria,homs,hs01,34.7326,36.7136,lina,alrrashid,Lina Alrrashid,lina.alrrashid@mail.com,5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,39.96,False
1,2.0,1/1/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,omar,eurul,Omar Eurul,omar.eurul@mail.com,5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True
2,3.0,1/1/2023,Saudi Arabia,riyadh,rd03,24.7743,46.7386,iman,iismaeil,Iman Iismaeil,iman.iismaeil@mail.com,5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True
4,4.0,1/1/2023,United Arab Emirates,abu dhabi,ad01,24.4539,54.3773,ahmad,rihan,Ahmad Rihan,ahmad.rihan@mail.com,5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True
5,5.0,1/1/2023,USA,washington,wh01,38.9072,-77.0369,sami,altawil,Sami Altawil,sami.altawil@mail.com,5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,3.87,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,casablanca,cs01,33.5731,7.5898,ahmad,iad,Ahmad Iad,ahmad.iad@mail.com,5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,11.97,True
20000,19997.0,1/9/2023,Syria,homs,hs01,34.7326,36.7136,ali,kiali,Ali Kiali,ali.kiali@mail.com,5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.80,True
20001,19998.0,1/9/2023,USA,las vegas,lv01,36.1699,-115.1398,husayn,salayk,Husayn Salayk,husayn.salayk@mail.com,5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,2.97,True
20002,19999.0,1/9/2023,Saudi Arabia,jeddah,jd03,21.4858,39.1925,fatin,bahriin,Fatin Bahriin,fatin.bahriin@mail.com,5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,3.96,True
20003,20000.0,1/9/2023,USA,washington,wh01,38.9072,-77.0369,ahmad,shakur,Ahmad Shakur,ahmad.shakur@mail.com,5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,4.98,True

Add Price and Final Price Coulmns

In [8]:
df["Price"] = df["Quantity"] * df["Unit Price"]
df["Discount"].fillna(0,inplace =True)
df["Final Price"] = df["Quantity"] * df["Unit Price"] - df["Discount"]
df

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Customer FullName,...,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status,Price,Final Price
0,1.0,1/1/2023,Syria,homs,hs01,34.7326,36.7136,lina,alrrashid,Lina Alrrashid,...,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,39.96,False,999.0,959.04
1,2.0,1/1/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,omar,eurul,Omar Eurul,...,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True,1199.0,1079.10
2,3.0,1/1/2023,Saudi Arabia,riyadh,rd03,24.7743,46.7386,iman,iismaeil,Iman Iismaeil,...,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,0.00,True,1299.0,1299.00
4,4.0,1/1/2023,United Arab Emirates,abu dhabi,ad01,24.4539,54.3773,ahmad,rihan,Ahmad Rihan,...,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True,398.0,370.14
5,5.0,1/1/2023,USA,washington,wh01,38.9072,-77.0369,sami,altawil,Sami Altawil,...,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,3.87,True,129.0,125.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,casablanca,cs01,33.5731,7.5898,ahmad,iad,Ahmad Iad,...,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,11.97,True,399.0,387.03
20000,19997.0,1/9/2023,Syria,homs,hs01,34.7326,36.7136,ali,kiali,Ali Kiali,...,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.80,True,598.0,538.20
20001,19998.0,1/9/2023,USA,las vegas,lv01,36.1699,-115.1398,husayn,salayk,Husayn Salayk,...,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,2.97,True,99.0,96.03
20002,19999.0,1/9/2023,Saudi Arabia,jeddah,jd03,21.4858,39.1925,fatin,bahriin,Fatin Bahriin,...,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,3.96,True,99.0,95.04
20003,20000.0,1/9/2023,USA,washington,wh01,38.9072,-77.0369,ahmad,shakur,Ahmad Shakur,...,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,4.98,True,249.0,244.02

Add Order Status Column (with value of Delevered or Pending)

In [9]:
df.loc[df["Status"]== True,"OrderStatus"] = "Delevered"
df.loc[df["Status"]== False,"OrderStatus"] = "Pending"

df

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Customer FullName,...,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status,Price,Final Price,OrderStatus
0,1.0,1/1/2023,Syria,homs,hs01,34.7326,36.7136,lina,alrrashid,Lina Alrrashid,...,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,39.96,False,999.0,959.04,Pending
1,2.0,1/1/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,omar,eurul,Omar Eurul,...,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True,1199.0,1079.10,Delevered
2,3.0,1/1/2023,Saudi Arabia,riyadh,rd03,24.7743,46.7386,iman,iismaeil,Iman Iismaeil,...,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,0.00,True,1299.0,1299.00,Delevered
4,4.0,1/1/2023,United Arab Emirates,abu dhabi,ad01,24.4539,54.3773,ahmad,rihan,Ahmad Rihan,...,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True,398.0,370.14,Delevered
5,5.0,1/1/2023,USA,washington,wh01,38.9072,-77.0369,sami,altawil,Sami Altawil,...,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,3.87,True,129.0,125.13,Delevered
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,casablanca,cs01,33.5731,7.5898,ahmad,iad,Ahmad Iad,...,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,11.97,True,399.0,387.03,Delevered
20000,19997.0,1/9/2023,Syria,homs,hs01,34.7326,36.7136,ali,kiali,Ali Kiali,...,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.80,True,598.0,538.20,Delevered
20001,19998.0,1/9/2023,USA,las vegas,lv01,36.1699,-115.1398,husayn,salayk,Husayn Salayk,...,Sony PlayStation,PlayStation 2,K624,1.0,99.0,2.97,True,99.0,96.03,Delevered
20002,19999.0,1/9/2023,Saudi Arabia,jeddah,jd03,21.4858,39.1925,fatin,bahriin,Fatin Bahriin,...,JBL Live,JBL Live 500BT,Y368,1.0,99.0,3.96,True,99.0,95.04,Delevered
20003,20000.0,1/9/2023,USA,washington,wh01,38.9072,-77.0369,ahmad,shakur,Ahmad Shakur,...,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,4.98,True,249.0,244.02,Delevered

Some Visualisations

In [10]:
# plt.bar(df["OrderStatus"],df["Sub Category"])
# plt.plot(df["Item"]),df["Final Price"]

# plt.show()

In [14]:
df.to_csv("clean_data.csv",index = False)